*.clisp.mem
*.cmucl.core
*.egg-info
*.fas
*.fasl
*.kdev4
*.kdevelop
*.kdevses
*.lib
*.pyc
*.sbcl.core
*.sse2f
*.x86f
*~
*.swm
*.swn
.coverage
.eggs
.kdev4/
.noseids
.project
.pydevproject
.settings
.version
TAGS
bower_components/
build
compile
dist
docs/_build
docs/db
docs/static
dump.rdb
instance/
invenio/base/translations/*/LC_MESSAGES/messages.mo
missing
node_modules/
org.eclipse.core.resources.prefs
