*.clisp.mem
*.cmucl.core
*.fas
*.fasl
*.kdevelop
*.kdevses
*.lib
*.pyc
*.sbcl.core
*.sse2f
*.x86f
*~
.coverage
.noseids
.project
.pydevproject
.settings
.version
Invenio.egg-info
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
bower_components/
build
compile
compile
config.cache
config.guess
config.log
config.nice
config.status
config.status.lineno
config.sub
configure
configure.lineno
dist
docs/_build
docs/db
docs/static
install-sh
instance/
invenio-autotools.conf
invenio/base/translations/*/LC_MESSAGES/messages.mo
missing
node_modules/
org.eclipse.core.resources.prefs
po/*.gmo
po/*.mo
po/*.sed
po/POTFILES
po/POTFILES-py
po/POTFILES-webdoc
po/stamp-po
tags
