# SPDX-FileCopyrightText: 2015-2018 CERN.
# SPDX-License-Identifier: MIT

exclude .git-blame-ignore-revs
include *.rst
include *.sh
include *.txt
include .dockerignore
include .editorconfig
include LICENSE
include docs/requirements.txt
include pytest.ini
prune docs/_build
recursive-include docs *.bat
recursive-include docs *.css
recursive-include docs *.gif
recursive-include docs *.jpeg
recursive-include docs *.jpg
recursive-include docs *.plantuml
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-include docs *.html
recursive-include docs Makefile
recursive-include misc *.py
recursive-include misc *.rst
recursive-include nginx *.conf
recursive-include scripts *.cfg
recursive-include scripts *.sh
recursive-include tests *.py
recursive-include docs *.xml
