include requirements*.txt
recursive-include docs *.xml *.xsl *.tpl *.html *.js *.css *.cfg *.bft *.rst
recursive-include invenio *.xml *.xsl *.tpl *.html *.js *.css *.cfg *.bft *.rst
recursive-include invenio_atlantis *.xml *.xsl *.tpl *.html *.js *.css *.cfg *.bft *.rst
