# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015 CERN.
#
# Invenio is free software; you can redistribute it
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the
# Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,
# MA 02111-1307, USA.
#
# In applying this license, CERN does not
# waive the privileges and immunities granted to it by virtue of its status
# as an Intergovernmental Organization or submit itself to any jurisdiction.

-e git+git://github.com/inveniosoftware/invenio-accounts.git@next#egg=invenio-accounts
-e git+git://github.com/inveniosoftware/invenio-assets.git#egg=invenio-assets
-e git+git://github.com/inveniosoftware/invenio-base.git@next#egg=invenio-base
-e git+git://github.com/inveniosoftware/invenio-celery.git#egg=invenio-celery
-e git+git://github.com/inveniosoftware/invenio-config.git#egg=invenio-config
-e git+git://github.com/inveniosoftware/invenio-db.git#egg=invenio-db
-e git+git://github.com/inveniosoftware/invenio-i18n.git#egg=invenio-i18n
-e git+git://github.com/inveniosoftware/invenio-mail.git#egg=invenio-mail
-e git+git://github.com/inveniosoftware/invenio-records.git@next#egg=invenio-records
-e git+git://github.com/inveniosoftware/invenio-theme.git#egg=invenio-theme
-e git+git://github.com/mitsuhiko/flask.git#egg=Flask
