http://sourceforge.net/projects/gnuplot-py/files/Gnuplot-py/1.8/gnuplot-py-1.8.tar.gz/download
pylint
http://sourceforge.net/projects/pychecker/files/pychecker/0.8.19/pychecker-0.8.19.tar.gz/download
pep8
selenium
winpdb
mock
ipython
cython
nose
nosexcover
flake8
dropbox
oauth2client
apiclient
urllib3
python-skydrive
