-e git+https://github.com/mrjoes/flask-admin#egg=Flask-Admin
-e git+https://github.com/mitsuhiko/flask-sqlalchemy#egg=Flask-SQLAlchemy-dev
# requires numpy before it can be installed
#-e svn://svn.code.sf.net/p/gnuplot-py/code/trunk#egg=gnuplot-py
-e git+git://github.com/romanchyla/workflow.git@e41299579501704b1486c72cc2509a9f82e63ea6#egg=workflow

-e .[development]
