Flask-Admin==1.0.6
Flask-Assets==0.7
Flask-Cache==0.12
Flask-DebugToolbar==0.8.0
Flask-Email==1.4.4
Flask-Gravatar==0.4.0
Flask-Login==0.2.7
Flask-Principal==0.4.0
#Flask-SQLAlchemy==1.0
git+https://github.com/mitsuhiko/flask-sqlalchemy#egg=Flask-SQLAlchemy
Flask-Script==0.6.2
Flask-Testing==0.4
Flask-WTF==0.9.3
