## This file is part of CDS Invenio.
## Copyright (C) 2002, 2003, 2004, 2005, 2006, 2007, 2008 CERN.
##
## CDS Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## CDS Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with CDS Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

[rank_method]
function = citation

[citation]
publication_primary_number_tag = 037a                                         
publication_aditional_number_tag = 088a                                       
publication_reference_number_tag = 999C5r                                    
publication_reference_tag = 999C5s                                           
publication_info_tag = 909s                                                   
publication_year_tags = 909y,260c
main_author_tag = 100a
coauthor_tag = 700a
extauthor_tag = 720a
relevance_number_output_prologue = (
relevance_number_output_epilogue = )
