# This file is part of Invenio.
# Copyright (C) 2009, 2010, 2011 CERN.
#
# Invenio is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

[rank_method]
function = citerank

[citerank]
# citerank_method -- defines the method to use for ranking
citerank_method = citation_time

# time_decay -- measures how fast we 'forget' old citations:
# 0.0(never); 0.2(after 5 years); 0.1(after 10 years)
time_decay = 0.2

# file_with_citations -- defines if the citations are to be read from
# an external file. (Default is to use the Invenio database.)  The
# external file format must be: x[tab]y where x cites y; x,y are
# recids.
#file_with_citations = /path/to/file/containing/citations

# output_ranks_to_filename -- defines whether to also output the
# results to an external file. (Default is to only write them to the
# Invenio database.)
#output_ranks_to_filename = /path/to/where/to/write/citations

# output_rank_limit -- defines the number of ranks to be written to
# the external file denoted by 'output_ranks_to_filename' argument.
# It can be either a number or 'all'. (Default is 'all' - output all
# the ranks.)
#output_rank_limit = all

# file_with_dates -- defines if the publication years are to be read
# from an external file. (Default is to use the Invenio database.)
# The external file format must b:e x[tab]y, where x is a recid and y
# is the publication year.
#file_with_dates = /path/to/file/containing/dates

# publication_year_tag -- defines the MARC tag corespondig to the
# publication year of a document
publication_year_tag = 260__c

# creation_date_tag -- defines the MARC tag corespondig to the
# creation date of a document
creation_date_tag = 961__x

relevance_number_output_prologue = (
relevance_number_output_epilogue = )

