# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2013 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@persistent_identifier(0)
recid:
    creator:
        @legacy(("001", "record id", ""), )
        marc, "001", value
    checker:
        check_field_existence(1, continuable=False)
        check_field_type('num', continuable=False)
    producer:
        json_for_marc, {"001": ""}
    documentation:
        """
        This is the main persistent identifier of a record and will be used
        internally as this, therefore the pid important should always be '0'.

        IMPORTANT: this is a mandatory field and it shouldn't be remove neither
        from this configuration file nor from the persistent identifier list.
        """

_id:
    calculated:
        self.get('recid', -1)
    documentation:
        """
        This field is really useful when working with MongoDB to avoid new ObjectID

        See also: .recid
        """

modification_date, version_id:
    creator:
        @legacy(("005", ""),)
        marc, "005", datetime.datetime(*(time.strptime(value, '%Y%m%d%H%M%S.0')[0:6]))
    checker:
        check_field_existence(1)
        check_field_type('datetime.datetime')
    producer:
        json_for_marc, {"005": "self.get('version_id').strftime('%Y%m%d%H%M%S.0')"}
        json_for_dc, {"dc:date": "self.get('version_id').strftime('%Y-%m-%dT%H:%M:%SZ')"}
    documentation:
        """Modification date"""

_modification_date, vesion_id:
    calculated:
        @only_if((not 'modification_date' in self, ))
        invenio.core.record.models.Record.query.get(self['recid']).modification_date
    producer:
        json_for_marc, {"005": "self.get('version_id').strftime('%Y%m%d%H%M%S.0')"}
        json_for_dc, {"dc:date": "self.get('version_id').strftime('%Y-%m-%dT%H:%M:%SZ')"}
    documentation:
        """
        Modification date

        See also: .modification_date
        """

creation_date:
    derived:
        @parse_first(('recid', ))
        @depends_on(('recid', ))
        invenio.core.record.models.Record.query.get(self['recid']).creation_date
    documentation:
        """Creation date"""
