# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2013 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@persistent_identifier(0)
uuid:
    checker:
        check_field_existence(1, continuable=False)
    documentation:
        """
        This is the main persistent identifier of a document and will be used
        internally as this, therefore the pid important should always be '0'.
        """

version:
    documentation:
        """Document version"""

parent:
    calculated:
        @do_not_cache
        @parse_first(('parent_uuid', ))
        @depends_on(('parent_uuid', ))
        invenio.modules.documents.api.Document.storage_engine.get_one(self.get('parent_uuid'))
    documentation:
        """
        Return parent object
        """

parent_uuid:
    documentation:
        """
        FIXME: add checker if not None document_exists(parent_uuid)
        """
