# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2014 CERN.
#
# Invenio is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

uuid:
    schema:
        {'uuid': {'type': 'uuid', 'required': True, 'default': lambda: str(__import__('uuid').uuid4())}}
    creator:
        @connect('_id')
        json, 'uuid', value

who:
    """The author of the annotation"""
    schema:
        {'who': {'required': True}}
    json:
        dumps, lambda d: d.get_id()
        loads, invenio.modules.accounts.models.User.query.get

where:
    """The target of the annotation (e.g., a picture)"""
    schema:
        {'where': {'type': 'string', 'required': True}}

what:
    """The actual annotation (body)"""

when:
    """The date/ time when the annotation was added"""
    schema:
        {'when': {'type': 'datetime', 'required': True, 'default': get_datetime_utc}}
    json:
        dumps, lambda d: d.replace(microsecond=0).isoformat()
        loads, lambda d: __import__('dateutil').parser.parse(d)

perm:
    """If the annotation is public, group(s)-private, or user-private"""
    schema:
        {'perm': {'type': 'dict', 'required': True, 'schema': {'public' : {'type': 'boolean', 'required': True, 'default': lambda: True}, 'groups' : {'type': 'list', 'required': True, 'default': lambda: []}}, 'default': lambda: {'public': True, 'groups': []}}}
