{%- if thisfield == '-' %}
<hr />
{%- else %}
{%- set field_class = thisfield.widget_classes if thisfield.widget_classes is not none else field_class %}
<div class="{{container_class}} {{ "error" if thisfield.errors }}{{ 'hide' if thisfield.flags.hidden}}" id="state-group-{{ thisfield.name }}">
    {{ field_label(thisfield) }}
    <div id="field-{{ thisfield.name }}" class="col-md-8">
        {{ thisfield(class_= field_class + " " + thisfield.short_name) }}
        {%- if thisfield.description %}
            <p class="text-muted field-desc"><small>{{thisfield.description|urlize}}</small></p>
        {%- endif %}
        <div class="alert help-inline {{ 'alert-danger' if thisfield.errors else 'hide' }}" id="state-{{ thisfield.name }}" style="margin-top: 5px;{% if thisfield.errors %} display:block;{% endif %}">
            {%- for error in thisfield.errors %}
                <div>{{ error }}</div>
            {%- endfor %}
        </div>
    </div>
</div>
{%- endif %}