## This file is part of Invenio.
## Copyright (C) 2013 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

# This is an example config file for BibCheck. By default, if bibcheck is
# called without parameters it will look for a file called rules.cfg

[check_mandatory_fields]
check = mandatory
check.fields = ["001%%_", "005%%_"]

[check_utf8]
check = utf8
consider_deleted_records = true

[trailing_space]
check = trailing_space
check.strip = true
check.normalize_spaces = true
check.fields = ["100%%a"]
filter_pattern = 027_a:/.*/
filter_collection = HEP
holdingpen = true

[creation_date]
check = creation_date
check.date_fields = ["111__d", "260__c", "260__t", "269__d", "542__g", "502__y", "773__y", "111__x", "046__%", "371__t"]
