{{!
  This file is part of Invenio.
  Copyright (C) 2014 CERN.

  Invenio is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of the
  License, or (at your option) any later version.

  Invenio is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Invenio; if not, write to the Free Software Foundation, Inc.,
  59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
}}
<tr id="{{id}}">
    <td id="{{id}}_link">
        {{#download_url}}
        <a href="{{download_url}}">{{filename}}</a>{{/download_url}}{{^download_url}}{{filename}}
        {{/download_url}}
    </td>
    <td>{{filesize}}</td>
    <td width="30%">
        {{^completed}}
        <div class="progress{{#striped}} progress-striped{{/striped}} active">
            <div class="progress-bar" style="width: {{progress}}%;">
                {{/completed}}
            </div>
        </div>
    </td>
    <td>
        <a id="{{id_sort}}" class="sortlink text-muted" rel="tooltip" title="Re-order files">
            <i class="fa fa-sort fa-fw"></i>
        </a>&nbsp;
        {{#removeable}}
        <a class="rmlink" rel="tooltip" title="Delete file">
            <i class="fa fa-trash-o fa-fw"></i>
        </a>
        {{/removeable}}
    </td>
</tr>
