{% extends "workflows/layout_workflow_details.html" %}
{% import 'workflows/utils.html' as utils %}

{% js url_for('workflows.static', filename='js/workflows/entry_details.js'), '50-workflows' %}

{% block javascript %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            WORKFLOWS_OBJECT_PREVIEW.bind_object_preview(
                "{{ url_for('workflows.entry_data_preview') }}",
                "{{ entry.id }}"
            );
        });
    </script>
{% endblock javascript %}

{% block modalbody %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ entry.id }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            Owner: <b>{{ entry.id_user }}</b> | Creation date: <b>{{ entry.created }}</b>
        </div>
    </div>
    <div class="row">
         <div class="col-md-5">
            Preview:
            <div class="well">
                <div name="object_preview">{{- data_preview|safe -}}</div>
             </div>
         </div>
         <div class="col-md-3">
            Workflow definition:
            <div class="well">
                {{ utils.function_display(workflow_func, entry.get_extra_data()['_task_counter']) }}
            </div>
         </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Log:
            {% for log_object in log %}
                <pre>{{ log_object.message }}</pre><br/>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" href="{{ url_for('holdingpen.details', bwobject_id=entry.id)}}" >Open in HoldingPen <i class="glyphicon glyphicon-wrench"></i></a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
{% endblock %}
