{% extends "workflows/hp_layout.html" %}
{% block body2 %}

{%- js 'js/jquery.dataTables.min.js' -%}
{%- js url_for('workflows.static', filename='js/workflows/DT_bootstrap.js') -%}
{%- js url_for('workflows.static', filename='js/workflows/hp_index.js') -%}

    <style type="text/css" title="currentStyle">
      @import "{{ url_for('workflows.static', filename='css/workflows/DT_bootstrap.css') }}";
    </style>

    <h1>Records in Holding Pen</h1>

    <button id="refresh_button" class="btn btn-primary pull-right">Refresh!</button>

    <div class="container">
        <div class="row-fluid">
            <table id="example" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Source</th>
                        <th>Category</th>
                        <th>Workflow ID</th>
                        <th>Owner</th>
                        <th>Created</th>
                        <th>Version</th>
                        <th>Details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
