{% extends "workflows/hp_layout.html" %}
{% import 'workflows/hp_utils.html' as utils %}

{% block header%}
    {{ super() }}
    {% css url_for('static', filename='css/ColVis.css') %}
    {% css url_for('static', filename='css/dataTables.bootstrap.css') %}
{% endblock header %}

{% js url_for('static', filename='js/jquery.dataTables.min.js'), '30-datatables' %}
{% js url_for('static', filename='js/ColVis.js'), '30-datatables' %}
{% js url_for('static', filename='js/dataTables.bootstrap.js'), '30-datatables' %}
{% js url_for('workflows.static', filename='js/workflows/hp_maintable.js'), '50-workflows' %}
{% js url_for('workflows.static', filename='js/workflows/widgets/approval.js'), '50-workflows' %}
{% js url_for('static', filename='js/mustache.js'), '30-datatables' %}

{% block javascript %}
    {{ super() }}

    <script type="text/javascript">
        $(document).ready(function(){
            url = new Object();
            url.load_table = "{{ url_for('holdingpen.load_table')|safe }}";
            url.batch_widget = "{{ url_for('holdingpen.batch_widget') }}";
            url.resolve_widget = "{{ url_for('holdingpen.resolve_widget') }}";
            url.delete_single = "{{ url_for('holdingpen.delete_from_db') }}";
            url.refresh = "{{ url_for('holdingpen.refresh') }}";
            url.widget = "{{ url_for('holdingpen.show_widget') }}";
            url.details = "{{ url_for('holdingpen.details')|safe }}";
            url.batch_widget = "{{ url_for('holdingpen.batch_widget') }}";

            init_urls(url);
            init_urls_approval(url);
        });
    </script>
{% endblock javascript %}

{% block hpbody %}
    <div id="alert-message"></div>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Home</a>
            </li>
           <!--  <li><a href="#">Assigned to me</a></li> -->
            <p class="navbar-text" style="margin-right:0px; color:light gray;">Show Records by:</p>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions<b class="caret"></b></a>
                <ul class="dropdown-menu">
                {% set i = 0 %}
                {% for task in widget_list.iterkeys() %}
                    <li><a id="task{{i}}" class="task-btn" tabindex="-1" name="{{task}}">{{task}}: {{widget_list[task][0]}}</a></li>
                    {% set i = i+1 %}
                {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Status<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="version-halted" class="version-selection" name="Halted">Halted</a></li>
                    <li><a id="version-final" class="version-selection" name="Final">Final</a></li>
                    <li><a id="version-running" class="version-selection" name="Running">Running</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><button id="refresh_button" type="button" class="btn btn-default navbar-btn">Refresh!</button></li>    
        </ul>
      </div>
    </nav>

    <div id="tag-area" class="row">
    </div>

    <div class="container">
        <div class="row">
            <table id="example" cellpadding="0" cellspacing="0" border="0" class="table table-bordered">
                <thead>
                    <tr>
                        <th><input id="select-all" type="checkbox"></th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Source</th>
                        <th>Category</th>
                        <th>Workflow ID</th>
                        <th>Owner</th>
                        <th>Created</th>
                        <th>Version</th>
                        <th>Details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}