{% extends "page.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li><a href="{{ url_for('workflows.index') }}"
                        {% if request.path == url_for('workflows.index') %}
                            class="active"
                        {% endif %}>
                        Running workflows
                    </a></li>
                    <li><a href="{{ url_for('workflows.show_workflows') }}"
                    {% if request.path == url_for('workflows.show_workflows') %}
                        class="active"
                    {% endif %}>
                        Defined workflows
                    </a></li>
                    <li>Logs</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            {% block workflowbody %}{% endblock %}
        </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>

  </div>
{% endblock %}
