{% extends "workflows/layout.html" %}

{% block javascript %}
    {{ super() }}
    {% block workflows_entry_assets %}
        {% js url_for('workflows.static', filename='js/workflows/workflows.js') %}
        <script type="text/javascript">
            $(document).ready(function(){
                var url_run_workflow = "{{ url_for('workflows.run_workflow') }}";
                init_workflow(url_run_workflow);
            });
        </script>
    {% endblock workflows_entry_assets %}
{% endblock javascript %}

{% block workflowbody %}
    <div id = "alert_placeholder"></div>

    <div class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Warning!</h4>
      This functionality is not fully supported at the moment as you cannot pass
      any data to the workflows yet.
    </div>

    <h1>Available workflows</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Workflow name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for workflow in workflows %}
            <tr>
                <td>{{ workflow }}</td>
                <td><input id="example_{{ workflow }} 
                " class="btn" type="submit" rel="popover" name="{{ workflow }}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
