{% extends "workflows/layout_workflow_details.html" %}
{% import 'workflows/utils.html' as utils %}
{% block modalbody %}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ workflow_metadata.name }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
                        Owner: <b>{{ workflow_metadata.uid }}</b> | Creation date: <b>{{ workflow_metadata.created }}</b> | Last modification date: <b>{{ workflow_metadata.modified }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
           Workflow definition:
           <div class="well">
               {{ utils.function_display(workflow_func, [-1]) }}
           </div>

            Workflow status
            <div class="well">
                <div id="workflow_preview">
                    <p>All objects count: {{ workflow_metadata.counter_initial }}</p>
                    <p>Finished objects count: {{ workflow_metadata.counter_finished }}</p>
                    <p>Halted objects count: {{ workflow_metadata.counter_halted }}</p>
                    <p>Error objects count: {{ workflow_metadata.counter_error }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
           Error message
           <div class="well">
                <div class="workflow_message">
                    <p>{{ workflow_metadata.error_msg }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        Log:
        <pre>{{ log }}</pre>
    </div>
</div>
<div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
{% endblock %}
