# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2013 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@persistent_identifier(0)
_id:
    """
    This is the main persistent identifier of th record and will be
    used internally as this, therefore the pid weight must always be '0'.

    """
    schema:
        {'_id': {'type':'integer', 'min': 1}}
    creator:
        @legacy(('001', ''), )
        marc, '001', int(value)
    producer:
        json_for_marc(), {'001': ''}

@persistent_identifier(0)
recid:
    """
    Hard link to ```_id```
    """
    derived:
        @depends_on(('_id', ))
        self['_id']

modification_date:
    """ Modification date """
    schema:
        {'modification_date': {'type': 'datetime', 'required': True, 'default': lambda: __import__('datetime').datetime.now()}}
    creator:
        @legacy(('005', ''),)
        marc, '005', datetime.datetime(*(time.strptime(value, "%Y%m%d%H%M%S.0")[0:6]))
    json:
        dumps, lambda d: d.isoformat()
        loads, lambda d: __import__('datetime').datetime.strptime(d, "%Y-%m-%dT%H:%M:%S")

creation_date:
    """ Creation date """
    schema:
        {'creation_date': {'type': 'datetime', 'required': True, 'default': lambda: __import__('datetime').datetime.now()}}
    json:
        dumps, lambda d: d.isoformat()
        loads, lambda d: __import__('datetime').datetime.strptime(d, "%Y-%m-%dT%H:%M:%S")
