{% extends "bibworkflow_hp_layout.html" %}
{% block body2 %}
    <h1>Bibmatch Widget</h1>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&amp;skin=desert"></script>

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    {% set widget = widget() %}
                    <div class="span6">
                        <div id="record_preview_container">
                            Submitted Record
                            <pre id="record_preview" name="object_preview" class="prettyprint span12">
                                {{ data_preview }}
                            </pre>
                        </div>
                    </div>

                    <div class="span6">
                        {% set i = 0 %}
                        {% for match in match_preview %}
                        {% if match %}
                        
                        <strong>Match {{i+1}} </strong>
                        <pre class="prettyprint">
                            {{ match.data['data'] }}
                        </pre>
                        {{ widget.accept }}
                        </br>   

                        {% set i = i+1 %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}