{% extends "bibworkflow_layout.html" %}
{%- js 'js/bibworkflow_workflows.js' -%}
{% block body2 %}
    <div id = "alert_placeholder"></div>

    <h1>Workflows</h1>
    <form>
        <fieldset>
            <legend>Extra save</legend>
            <span class="help-block">Select box if you would like some extra save.</span>
            <label class="checkbox">
              <input type="checkbox" name="extra_save" value="hp"> Save to HoldingPen
            </label>
        </fieldset>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Workflow name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for workflow in workflows %}
            <tr>
                <td>{{ workflow }}</td>
                <td><input id="example_{{ workflow }} 
                " class="btn" type="submit" rel="popover" name="{{ workflow }}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Broken workflows</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Workflow name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for workflow in broken_workflows %}
            <tr>
                <td>{{ workflow }}</td>
                <td><input class="btn" type="submit" name="{{ workflow }}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
