{% extends "page.html" %}
{% block body %}

<div class="page-header">
  <h3>{{ _('Select a Document Type') }}</h3>
</div>

<div class="row">
  <div id="webdeposit_types_accordion" class="offset3 span6 accordion">
  {% for doc_group, dep_types in deposition_types.iteritems() %}
    <div class="accordion-group">
      <div class="accordion-heading">
        <h4>
        <a class="accordion-toggle" data-toggle="collapse"
           data-parent="#webdeposit_types_accordion"
           href="#collapse{{ loop.index }}">
          <i class="icon-list pull-right"></i> {{ doc_group }}
        </a>
        </h4>
      </div>
      <div id="collapse{{ loop.index }}" class="collapse">
        <div class="accordion-inner" style="padding: 0px;">
          <ul class="nav nav-pills nav-stacked" style="margin-bottom: 0px;">
          {% for dep in dep_types|sort(attribute='name') %}
            <li>
              <a href="{{ dep.dep_type }}">
                <i class="icon-chevron-right pull-right"></i>
                {{ dep.name }}
                {% if dep.name in drafts %}
                &nbsp;
                <span class="badge badge-important">
                  {{ drafts[dep.name] }}
                </span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
