# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2015 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@extend
_additional_authors:
    creator:
        @legacy((("700", "700__", "700__%"), ""),
                ("700__a", "additional author name", "full_name"),
                ("700__e", "additional author relator name", "relator_name"),
                ("700__u", "additional author affiliation", "affiliation")
                ("700__0", "authority_control_number"))
        @parse_first('_first_author')
        marc, "700..", {'full_name': value['a'], 'first_name':util_split(value['a'],',',1), 'last_name':util_split(value['a'],',',0), 'relator_name':value['e'], 'CCID':value['h'], 'INSPIRE_number':value['i'], 'affiliation':value['u'] 'authority_control_number':value['0'] }
    producer:
        json_for_marc(), {"a": "full_name", "e": "relator_name", "h": "CCID", "i": "INSPIRE_number", "u": "affiliation" "0": "authority_control_number"}

@extend
_additional_corporate_names:
    creator:
        @legacy((("710", "710__", "710__%"), ""),
                ("710__a", "name"),
                ("710__b", "subordinate_unit"),
                ("710__g", "collaboration", "collaboration"))
        marc, "710..", {'name':value['a'], 'subordinate_unit':value['b'], 'collaboration':value['g'], 'cern_paper':value['5']}
    producer:
        json_for_marc(), {"a":"name", "b":"subordinate_unit", "g":"collaboration", "5":"cern_paper"}

@extend
_additional_meeting_names:
    creator:
        @legacy((("711", "711__", "711__%"), ""),
                ("711__a", "meeting"),
                ("711__c", "location"),
                ("711__d", "meeting_date"),
                ("711__f", "work_date"),
                ("711__g", "coference_code"),
                ("711__n", "number_of_parts"),
                ("711__9", "opening_date"))
        marc, "711..", {'meeting':value['a'], 'location':value['c'], 'meeting_date':value['d'], 'work_date':value['f'], 'coference_code':value['g'], 'number_of_parts':value['n'], 'opening_date':value['9']}
    producer:
        json_for_marc(), {"a": "meeting", "c": "location", "d": "meeting_date", "f": "work_date", "g": "coference_code", "n": "number_of_parts", "9": "opening_date"}

@extend
author_archive:
    creator:
        @legacy((("720", "720__", "720__%"), ""),
                ("720__a", ""))
        marc, "720..", value['a']
    producer:
        json_for_marc(), {"a": ""}
