# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2015 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@extend
publication_info:
    """note: publication_info.doi not to be used, used instead doi"""
    creator:
        @legacy((("773", "773__", "773__%"), ""),
                ("773__a", "doi"),
                ("773__d", "date"),
                ("773__e", "recid"),
                ("773__k", "issue"),
                ("773__n", "note"),
                ("773__o", "publisher"),
                ("773__q", "pagination"),
                ("773__t", "title"),
                ("773__u", "url"),
                ("773__v", "volume"),
                ("773__y", "year"),
                ("773__j", "talk"),
                ("773__w", "cnum"),
                ("773__x", "reference"))
        marc, "773..", {'doi':value['a'], 'pagination':value['c'], 'date':value['d'], 'recid':value['e'], 'note':value['f'], 'title':value['p'], 'url':value['u'], 'volume':value['v'], 'year':value['y'], 'talk':value['t'], 'cnum':value['w'], 'reference':value['x']}
        @legacy((("909", "909C4", "909C4%"), "journal", ""),
                ("909C4a", "doi", "doi"),
                ("909C4c", "journal page", "pagination"),
                ("909C4d", "date"),
                ("909C4e", "recid"),
                ("909C4f", "note"),
                ("909C4n", "number", "number"),
                ("909C4p", "journal title", "title"),
                ("909C4u", "url"),
                ("909C4v", "journal volume", "volume"),
                ("909C4y", "journal year", "year"),
                ("909C4t", "talk"),
                ("909C4w", "cnum"),
                ("909C4x", "reference"))
        marc, "909C4", {'doi':value['a'], 'pagination':value['c'], 'date':value['d'], 'recid':value['e'], 'note':value['f'], 'number':value['n'], 'title':value['p'], 'url':value['u'], 'volume':value['v'], 'year':value['y'], 'talk':value['t'], 'cnum':value['w'], 'reference':value['x'], 'pubinfo_standard_form':get_pubinfo_standard_form(value)}
    producer:
        json_for_marc(), {"773__a": "doi", "773__c": "pagination", "773__d": "date", "773__e": "recid", "773__f": "note", "773__p": "title", "773__u": "url", "773__v": "volume", "773__y": "year", "773__t": "talk", "773__w": "cnum", "773__x": "reference"}
