# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2015 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@extend
isbn:
    creator:
        @legacy((("020", "020__", "020__%"), ""),
                ("020__a", "isbn", "isbn"),
                ("020__u", "medium"))
        marc, '020..', {'isbn':value['a'], 'material_type':value['u']}
    producer:
        json_for_marc(), {'022__a': 'isbn', '022__u': 'material_type'}

@extend
isn:
    creator:
        @legacy((("021", "021__", "021__%"), ""),
                ("021__a", “))
        marc, '021..', value['a']
    producer:
        json_for_marc(), {'021__a': ""}

@extend
issn:
    creator:
        @legacy((("022", "022__", "022__%"), ""),
                ("022__a", "issn", ""))
        marc, '022..', {'issn': value['a'], 'issn-l': value['l'], 'incorrect': value['y']}
    producer:
        json_for_marc(), {'a': 'issn', 'l': 'issn-l', 'y': 'incorrect'}

@extend
oai:
    """The second rule for marc is deprecated.
       Historically, ``909CO`` MARC tag in Invenio Atlantis defaults was used to
       store OAI information. Later, ``0248`` was chosen as a better MARC tag
       location. Invenio Atlantis defaults were not changed though, which
       permitted e.g. to test easily how Invenio is configurable for various site
       conditions."""
    creator:
        @legacy((("024", "0248_", "0248_%"), ""),
                ("0248_a", "oai"),
                ("0248_p", "indicator"))
        marc, '0248.', {'id': value['a'], 'set': value['p'], 'previous_set': value['q']}
        @legacy((('909', '909CO', '909CO%'), ''),
                ('909COi', 'group'),
                ('909COs', 'number'),
                ('909COo', 'id'),
                ('909COp', 'set'),
                ('909COq', 'previous_set'))
        marc, '909CO', {'group':value['i'], 'number':value['s'], 'id':value['o'], 'set':value['p'], 'previous_set':value['q']}
    producer:
        json_for_marc(), {'0248_a': 'id', '0248_p': 'set', '0248_q': 'previous_set'}

@extend
standard_identifier:
    creator:
        @legacy((("024", "0247_", "0247_%"), ""),
                ("0247_a", "value"),
                ("0247_2", "schema"))
        marc, '0247.', {'value': value['a'], 'schema': value['2']}
    producer:
        json_for_marc(), {'0247_2': 'schema', '0247_a': 'value'}

@extend
doi:
     creator:
         @legacy((("024", "0247_", "0247_%"), ""),
                 ("0247_a", ""))
         @only_if_master_value(value['2'].lower()=='doi')
        marc, "0247.", value['a']
     producer:
         json_for_marc(), {'0247_2': 'str("DOI")', '0247_a': ''}

@extend
coden_designation:
    creator:
        @legacy((("030", "030__", "030__%"), ""),
                ("030__a", "coden", "coden"),
                ("030__9", "source"))
        marc, '030..', {'coden': value['a'], 'source': value['9']}
    producer:
        json_for_marc(), {'a': 'coden', '9': 'source'}

@extend
system_control_number:
    creator:
        @legacy((("035", "035__", "035__%"), ""),
                ("035__a", "system_control_number"),
                ("035__9", "institute"))
        marc, "035..", {'value': value['a'], 'canceled':value['z'], 'linkpage':value['6'], 'institute':value['9']}
    producer:
        json_for_marc(), {"a": "system_control_number", "9": "institute"}

@extend
primary_report_number:
    creator:
        @legacy((("037", "037__", "037__%"), ""),
                ("037__a", "primary report number", ""), )
        marc, "037..", value['a']
    producer:
        json_for_marc(), {"a": ""}

@extend
report_number:
    creator:
        marc, "088..", {'cern_internal_number':value['9']}
    producer:
        json_for_marc(), {"9": "cern_internal_number"}
