# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2015 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@extend
edition_statement:
    """Information relating to the edition of a work as determined by applicable cataloging rules."""
    creator:
        @legacy((('250', '250__', '250__%'), ''),
                ('250__a', ''))
        marc, '250..', value['a']
    producer:
        json_for_marc(), {'a': ''}

@extend
imprint:
    creator:
        @legacy((('260', '260__', '260__%'), ''),
                ('260__a', 'place'),
                ('260__b', 'publisher_name'),
                ('260__c', 'date'),
                ('260__g', 'reprinted_editions'))
        marc, '260..', {'place':value['a'], 'publisher_name':value['b'], 'date':value['c'], 'reprinted_editions':value['g']}
    producer:
        json_for_marc(), {'a': 'place', 'b': 'publisher_name', 'c': 'date', 'g': 'reprinted_editions'}

@extend
pre_publication:
    creator:
        marc, '269..', {'place':value['a'], 'publisher_name':value['b'], 'date':value['c']}
    producer:
        json_for_marc(), {'a': 'place', 'b': 'publisher_name', 'c': 'date'}

@extend
address:
    creator:
        marc, '270..', {'email':value['m']}
    producer:
        json_for_marc(), {'m': 'email'}
