# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2015 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@extend
physical_description:
    creator:
        @legacy((("300", "300__", "300__%", "")),
                ("300__a", "pagination"),
                ("300__b", "details"))
        marc, "300..", {'pagination':value['a'], 'details':value['b']}
    producer:
        json_for_marc(), {"a": "pagination", "b": "details"}


@extend
current_publication_frequency:
    creator:
        @legacy((("310", "310__", "310__%"), ""),
                ("310__a", ""))
        marc, "310..", value['a']
    producer:
        json_for_marc(), {"a": ""}


@extend
content_type:
    """Note: use for SLIDES"""
    creator:
        @legacy((("336", "336__", "336__%"), ""),
                ("336__a", ""))
        marc, "336..", value['a']
    producer:
        json_for_marc(), {"a": ""}

@extend
medium:
    creator:
        @legacy((("340", "340__", "340__%"), ""),
                ("340__a", "material"),
                ("340__c", "suface"),
                ("340__d", "recording_technique"),
                ("340__d", "cd-rom"))
        marc, "340..", {'material':value['a'], 'surface':value['c'], 'recording_technique':value['d'], 'cd-rom':value['9']}
    producer:
        json_for_marc(), {"a": "material", "c": "suface", "d": "recording_technique", "d": "cd-rom"}
