# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2015 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

@extend
authority_topical_term, authority_subject:
    creator:
        @legacy((('450', '450__', '450__%'), ''),
                ('450__a', 'term_or_geographical_entry'),
                ('450__b', 'term_and_geographical_entry'),
                ('450__v', 'form_subdivision'),
                ('450__x', 'general_subdivision'),
                ('450__y', 'chronological_subdivision'),
                ('450__z', 'geographical_subdivision'))
        marc, "450__", {'term_or_geographical_entry':value['a'], 'term_and_geographical_entry':value['b'], 'form_subdivision':value['v'], 'general_subdivision':value['x'], 'chronological_subdivision':value['y'], 'geographical_subdivision':value['z']}

@extend
series:
    creator:
        @legacy((("490", "490__", "490__%"), ""),
                ("490__a", "statement"),
                ("490__v", "volume"))
        marc, "490..", {'statement':value['a'], 'volume':value['v']}
    producer:
        json_for_marc(), {"a": "statement", "v": "volume"}
