# -*- coding: utf-8 -*-
##
## This file is part of Invenio.
## Copyright (C) 2014 CERN.
##
## Invenio is free software; you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation; either version 2 of the
## License, or (at your option) any later version.
##
## Invenio is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Invenio; if not, write to the Free Software Foundation, Inc.,
## 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#Test for loops
include "test_authors.cfg"

authors[0], creator:
    creator:
        @legacy((("100", "100__", "100__%"), ""),
                ("100__a", "first author name", "full_name"),
                ("100__e", "relator_name"),
                ("100__h", "CCID"),
                ("100__i", "INSPIRE_number"),
                ("100__u", "first author affiliation", "affiliation"))
        marc, "100__", { 'full_name':value['a'], 'first_name':util_split(value['a'],',',1), 'last_name':util_split(value['a'],',',0), 'relator_name':value['e'], 'CCID':value['h'], 'INSPIRE_number':value['i'], 'affiliation':value['u'] }
    checker:
        check_field_existence(0,1)
        check_field_type('str')
    producer:
        json_for_marc(), {"100__a": "full_name", "100__e": "relator_name", "100__h": "CCID", "100__i": "INSPIRE_number", "100__u": "affiliation"}
        json_for_dc(), {"dc:creator": "full_name"}
    description:
        """Main Author"""

authors[n], contributor:
    creator:
        @legacy((("700", "700__", "700__%"), ""),
                ("700__a", "additional author name", "full_name"),
                ("700__u", "additional author affiliation", "affiliation"))
        marc, "700__", {'full_name': value['a'], 'first_name':util_split(value['a'],',',1), 'last_name':util_split(value['a'],',',0), 'relator_name':value['e'], 'CCID':value['h'], 'INSPIRE_number':value['i'], 'affiliation':value['u'] }
    checker:
        check_field_existence(0,'n')
        check_field_type('str')
    producer:
        json_for_marc(), {"700__a": "full_name", "700__e": "relator_name", "700__h": "CCID", "700__i": "INSPIRE_number", "700__u": "affiliation"}
        json_for_dc(), {"dc:contributor": "full_name"}
    description:
        """Authors"""

@inherit_from(("authors[0]",))
main_author:
    """Just main author"""
