#link{
    float: left;
    position:absolute;
    font-size: 15px;
    /*color:#272727;*/
    color:rgb(59, 89, 152);
    font-weight:bold;
}

#link:hover {
    text-decoration:underline;
}

.l{
    size: 10px;
}

div#editable{
    border: none;
    z-index:-1;
    display:none
}

div#conditions{
    border: none;
    z-index:-1;
    display:none
}

#container {
  width:550px;
/*  height: 690px;
  padding-left: 30px;*/
  margin-left: auto ;
  margin-right: auto ;
  background-color: white;
  
  border-top:2px solid #333232;
      border-bottom:2px solid #333232;
      border-right:2px solid #333232;
      border-left:2px solid #333232;
      border-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 20px;
}
