# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2013 CERN.
#
# Invenio is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
_id:
    """
    This is the main persistent identifier of any JSON object and it will be
    used like that by the default storage engine.

    It is defined as derived to avoid problems when reading and writing,
    although its function does nothing.

    This field should be used in each namespace by using the ``@connect``
    decorator, i.e. for the record namespace this is inside the ``recid`` field
    definition ``@connect('_id')``.
    """
    derived:
        @only_if(False)
        _

modification_date:
    """ Modification date """
    schema:
        {'modification_date': {'type': 'datetime', 'required': True, 'default': lambda: __import__('datetime').datetime.now()}}
    json:
        dumps, lambda d: d.isoformat()
        loads, lambda d: __import__('dateutil').parser.parse(d)

creation_date:
    """ Creation date """
    schema:
        {'creation_date': {'type': 'datetime', 'required': True, 'default': lambda: __import__('datetime').datetime.now()}}
    json:
        dumps, lambda d: d.isoformat()
        loads, lambda d: __import__('dateutil').parser.parse(d)
