# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2014 CERN.
#
# Invenio is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

older_version:
    """
    Field has to be set with the `_id` of old version.
    """
    schema:
        {'older_version': {'default': lambda: None}}

newer_version:
    calculated:
        @depends_on('_id')
        get_newer_version(self)
    schema:
        {'newer_version': {'type': 'list'}}

version_history:
    calculated:
        @depends_on('_id', 'older_version')
        get_version_history(self)
    schema:
        {'version_history': {'type': 'list', 'default': lambda: list()}}
