/* CDSware style sheet */
/* $Id$ */
body {
   color: #000;
   background: #fff;
   font-family: helvetica, arial, sans-serif;
}
p,br,dl,strong,em,h1,h2,h3,h4,h5,h6,td,blockquote,ol,ul {
   font-family: helvetica, arial, sans-serif;
}
pre,code {
   font-family: monospace;
}
h1 {
   font-size: 173%;
   font-weight: 700;
   margin-left: 0%;
}
.h1 {
   font-size: 173%;
   font-weight: 700;
   margin-left: 0%;
}
h2 {
   font-size: 144%;
   font-weight: 650;
   margin-left: 0%;
}
h3 {
   font-size: 120%;
   font-weight: 600;
   font-style: italic;
}
h4 {
   font-size: 110%;
   font-weight: 600;
}
h5 {
   font-size: 110%;
   font-weight: 300;
}
h6 {
   font-size: 110%;
   font-weight: 200;
   font-style: italic;
}
a:link {
   color: #00c;
   background: transparent;
}
a:visited {
   color: #006;
   background: transparent;
}
a:active {
   color: #00c;
   background: transparent;
}
a:hover {
   color: #00c;
   background: transparent;
}
a.moreinfo:link {
   color: #060;
   background: transparent;
}
a.moreinfo:visited {
   color: #060;
   background: transparent;
}
a.moreinfo:active {
   color: #060;
   background: transparent;
}
a.moreinfo:hover {
   color: #060;
   background: transparent;
}
a.img:hover {
   color: #00c;
   background: transparent;
}
a.img:active {
   color: #00c;
   background: transparent;
   font-weight: normal;
}
a.note:link {
   color: #999;
   background: transparent;
}
a.note:visited {
   color: #999;
   background: transparent;
}
a.note:active {
   color: #999;
   background: transparent;
}
a.note:hover {
   color: #999;
   background: transparent;
}
a.navtrail:link {
   color: #006;
   background: transparent;
}
a.navtrail:visited {
   color: #006;
   background: transparent;
}
a.navtrail:active {
   color: #006;
   background: transparent;
}
a.navtrail:hover {
   color: #006;
   background: transparent;
}
.pageheader {
   color: #999;
   background: transparent;
}
.pagefooter {
   color: #999;
   background: transparent;
}
.pagestripeleft {
   color: #000;
   background: #fff;
}
.pagestripemiddle {
   color: #000;
   background: #fff;
}
.pagestriperight {
   color: #000;
   background: #fff;
}
.pageboxlefttop {
   color: #000;
   background: #dee;
}
.pageboxlefttopadd {
   color: #000;
   background: #dee;
}
.pageboxleftbottom {
   color: #000;
   background: #dee;
}
.pageboxleftbottomadd {
   color: #000;
   background: #dee;
}
.pageboxrighttop {
   color: #000;
   background: #dee;
}
.pageboxrighttopadd {
   color: #000;
   background: #dee;
}
.pageboxrightbottom {
   color: #000;
   background: #dee;
}
.pageboxrightbottomadd {
   color: #000;
   background: #dee;
}
.searchbox {
   color: #000;
   background: #eee;
}
.narrowsearchbox {
   color: #000;
   background: #eee;
}
.focusonsearchbox {
   color: #000;
   background: #eee;
}
.headline {
   color: #006;
   background: transparent;
}
.quicknote {
   color: #603;
   background: transparent;
}
.important {
   color: #f00;
   background: transparent;
}
.popupselected {
   color: #fff;
   background: #006;
}
.results {
   color: #000;
   background: #ffc;
}
.resultsbis {
   color: #000;
   background: #ffe;
}
.moreinfo {
   color: #060;
   background: transparent;
}
.header {
   color: #000;
   background: #9cf;
}
.headerselected {
   color: #fff;
   background: #006;
}
.headerselectedmodule {
   color: #000;
   background: #eee;
}
.faq {
   margin-left: 12%;
   margin-right: 3%;
}
.faqq {
   margin-left: 18%;
   margin-right: 3%;
}
.exampleleader {
   color: #060;
   background: transparent;
}
.example {
   color: #039;
   background: transparent;
}
.blocknote {
   color: #000;
   background: #ccc;
}
.blocknotebis {
   color: #000;
   background: #999;
}
.devel {
   color: #600;
   background: #fff;
   border-color: #600;
   border-left-width: medium;
   border-left-style: solid;
   font-size: 90%;
}
.normal {
   color: #000;
   background: #fff;
}
.address {
   font-family: "Helvetica", "Arial", sans-serif;
   font-style: normal;
   font-size: x-small;
}
.navtrail {
   color: #006;
   background: transparent;
}
.note {
   color: #999;
   background: transparent;
}
.warning {
   color: #603;
   background: transparent;
}
.light {
   color: #ccc;
   background: transparent;
}
.nbdoccoll {
   color: #999;
   background: transparent;
}
hr {
    width: 100%;
    height: 1px;
    color: #999;
    background-color: #999;
    border-width: 0;    
}
/* end of cds.css */
