/* CDSware style sheet */
/* $Id$ */
body {
   color: #000;
   background: #fff;
   margin: 0px;
   padding: 0px;
   font-family: helvetica, arial, sans-serif;
}
p,br,dl,strong,em,h1,h2,h3,h4,h5,h6,td,blockquote,ol,ul {
   font-family: helvetica, arial, sans-serif;
}
pre,code {
   font-family: monospace;
}
h1 {
   font-size: 173%;
   font-weight: 700;
   margin-left: 60px;
   color: #36c;
   background: transparent;
}
.h1 {
   font-size: 173%;
   font-weight: 700;
   margin-left: 0%;
   color: #36c;
   background: transparent;
}
h2 {
   font-size: 144%;
   font-weight: 650;
   margin-left: 0%;
   color: #36c;
   background: transparent;
}
h3 {
   font-size: 120%;
   font-weight: 600;
   font-variant: small-caps;
   margin-top: 40px;
   margin-bottom: 10px;
   color: #36c;
   background: transparent;
   border-bottom: dotted 2px #36c;
   width: 50%;
}
h4 {
   font-size: 110%;
   font-weight: 600;
   font-style: italic;
   color: #36c;
   background: transparent;
}
h5 {
   font-size: 110%;
   font-weight: 400;
   color: #36c;
   background: transparent;
}
h6 {
   font-size: 110%;
   font-weight: 200;
   font-style: italic;
   color: #36c;
   background: transparent;
}
a:link {
   color: #00c;
   background: transparent;
}
a:visited {
   color: #006;
   background: transparent;
}
a:active {
   color: #00c;
   background: transparent;
}
a:hover {
   color: #00c;
   background: transparent;
}
a.moreinfo:link {
   color: #060;
   background: transparent;
}
a.moreinfo:visited {
   color: #060;
   background: transparent;
}
a.moreinfo:active {
   color: #060;
   background: transparent;
}
a.moreinfo:hover {
   color: #060;
   background: transparent;
}
a.img:hover {
   color: #00c;
   background: transparent;
}
a.img:active {
   color: #00c;
   background: transparent;
   font-weight: normal;
}
a.note:link {
   color: #999;
   background: transparent;
}
a.note:visited {
   color: #999;
   background: transparent;
}
a.note:active {
   color: #999;
   background: transparent;
}
a.note:hover {
   color: #999;
   background: transparent;
}
.headerbox {
   color: #000;
   width: 100%;
   margin-top: 2px;
   border-collapse: separate;
   border-spacing: 0px;
   border-bottom: 2px solid #3366cc;
}
.headerboxbody {
   color: #000;
   padding-top: 2px;
}
.headerboxbodylogo {
   color: #36c;
   font-weight: bold;
   font-variant: small-caps;
   font-size: 20px;
   letter-spacing: 6px;
   width: 200px;
   padding-left: 5px;
}
.headermodulebox {
   color: #fff;
   background: transparent;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0px;
}
.headermoduleboxbody {
   color: #000;
   background: #36c;
   font-size: x-small;
   font-weight: bold;
   text-align: center;
   padding: 0px;
   width: 65px;
}
.headermoduleboxbodyblank {
   width: 12px; 
   padding: 0px;
}
.headermoduleboxbodyselected {
   color: #000;
   background: #fff;
   font-size: x-small;
   font-weight: bold;
   text-align: center;
   border-left: 2px solid #3366cc;
   border-right: 2px solid #3366cc;
   border-top: 2px solid #3366cc;
   padding: 0px;
   width: 65px;
}
a.header:link {
   color: #fff;
   background: #36c;
   text-decoration: none;
}
a.header:visited {
   color: #fff;
   background: #36c;
   text-decoration: none;
}
a.header:active {
   color: #fff;
   background: #36c;
   text-decoration: none;
}
a.header:hover {
   color: #fff;
   background: #36c;
   text-decoration: none;
}
a.headerselected:link {
   color: #36c;
   background: #fff;
   text-decoration: none;
}
a.headerselected:visited {
   color: #36c;
   background: #fff;
   text-decoration: none;
}
a.headerselected:active {
   color: #36c;
   background: #fff;
   text-decoration: none;
}
a.headerselected:hover {
   color: #36c;
   background: #fff;
   text-decoration: none;
}
.navtrailbox {
   color: #36c;
   background: #fff;
   padding: 0px;
   border-spacing: 0px;
   border-collapse: collapse;
   margin-top: 7px;
   font-size: x-small;
}
.navtrailboxbody {
   color: #36c;
   padding: 0px;
   border-spacing: 0px;
   background: #fff;
   padding-left: 10px;
   font-size: x-small;
}
a.navtrail:link {
   color: #36c;
   background: transparent;
}
a.navtrail:visited {
   color: #36c;
   background: transparent;
}
a.navtrail:active {
   color: #36c;
   background: transparent;
}
a.navtrail:hover {
   color: #36c;
   background: transparent;
}
.info {
   color: #060;
   background: transparent;    
}
.pageheader {
   color: #999;
   font-size: x-small;
   background: transparent;
}
.pagebody {
    color: #000;
    background: transparent;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
.snapshot {
    color: #000;
    background: transparent;
    border: 2px solid #999999; 
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 10px;
}
.pagestriperight {
   color: #000;
   background: #fff;
   width: 150px;
   padding-left: 10px;
}
.pagefooter {
   color: #999;
   background: #fff;
   font-size: x-small;
   margin-top: 20px;
   padding-bottom: 5px;
}
.footerbox {
   color: #999;
   background: #fff;
   font-size: x-small;
   margin-left: 0px;
   padding-left: 5px;
   padding-right: 5px;
   border-top: 1px solid #999;
}
.pagestripemiddle {
   color: #000;
   background: #fff;
}
.pagestriperight {
   color: #000;
   background: #fff;
   font-size: x-small;
   padding-left: 3px;
}
.pageboxlefttop {
   color: #000;
   background: #dee;
}
.pageboxlefttopadd {
   color: #000;
   background: #dee;
}
.pageboxleftbottom {
   color: #000;
   background: #dee;
}
.pageboxleftbottomadd {
   color: #000;
   background: #dee;
}
.pageboxrighttop {
   color: #000;
   background: transparent;
}
.pageboxrighttopadd {
   color: #000;
   background: transparent;
}
.pageboxrightbottom {
   color: #000;
   background: transparent;
}
.pageboxrightbottomadd {
   color: #000;
   background: transparent;
}
.errorbox {
   color: #000;
   background: #ffcccc;
   padding: 1px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 30px;
   margin-right: 30px;
   border-spacing: 0px;
   border-collapse: collapse;
   border: 2px solid #990000; 
}
.errorboxheader {
   color: #000;
   background: #ffcccc;
   padding: 3px;
   border-spacing: 0px;
   font-weight: bold;
   text-align: left;
}
.errorboxbody {
   color: #000;
   background: #ffcccc;
   padding: 3px;
   font-size: normal;
}
.searchbox {
   color: #000;
   background: transparent;
   padding: 1px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 60px;
   margin-right: 60px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #36c;
}
.searchboxheader {
   color: #000;
   background: #f1f1f1;
   padding: 3px;
   border-spacing: 0px;
   font-size: small;
   text-align: left;
}
.searchboxbody {
   color: #000;
   background: transparent;
   padding: 3px;
   font-size: normal;
}
.narrowsearchbox {
   color: #000;
   background: transparent;
   padding: 1px;
   margin-top: 20px;
   margin-bottom: 5px;
   margin-left: 20px;
   margin-right: 20px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #3366cc; 
}
.narrowsearchboxheader {
   color: #000;
   background: #f1f1f1;
   padding: 3px;
   border-spacing: 0px;
   font-size: small;
   text-align: left;
}
.narrowsearchboxbody {
   color: #000;
   background: transparent;
   padding: 3px;
   font-size: normal;
}
.latestadditionsbox {
   color: #000;
   background: #fff;
   padding: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 20px;
   margin-right: 20px;
   border-spacing: 5px;
}
.latestadditionsboxtimebody {
   color: #000;
   background: #fff;
   padding: 3px;
   white-space: nowrap;
   text-align: right;
   vertical-align: top;
   font-size: xx-small;
}
.latestadditionsboxrecordbody {
   color: #000;
   background: #fff;
   padding: 3px;
   text-align: left;
   vertical-align: top;
   text-align: left;
   font-size: small;
}
.portalbox {
   color: #000;
   background: #fff;
   margin-bottom: 15px;
   border-spacing: 10px;
   border-collapse: collapse;
   border-top: 1px solid #aabbbb;
   font-size: x-small;
}
.portalboxheader {
   color: #000;
   background: #f1f1f1;
   padding: 2px;
   border-spacing: 0px;
   border-bottom: 1px solid #999999;
   text-align: left;
}
.portalboxbody {
   color: #000;
   background: #fff;
   padding: 2px;
}
.admin_wvar, .admin_w200, .admin_wvar_nomargin {
   color: #000;
   background: white;
   padding: 1px;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 60px;
   margin-right: 60px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #36c;
}
.admin_w200 {
   width: 200px;
}
.admin_wvar_nomargin {
   margin: 0px;
}
.adminlabel {
   width: 100px;
   font-size: small;
   background: #f1f1f1;
}
.adminheader, .adminheaderleft, .adminheadercenter, .adminheaderright {
   color: #000;
   background: #f1f1f1;
   border-spacing: 0px;
   font-size: small;
   padding: 3px 5px;
   text-align: center;
}
.adminheaderleft  {
   text-align: left;
}
.adminheaderright {
   text-align: right;
}
.adminbutton {
   color: #fff;
   background: #36c;
   font-weight: bold;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 10px;
   margin-right: 10px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #36c;
}
.admintd, .admintdleft, .admintdright {
   font-size: small;
   padding: 0px 10px;
   text-align: center;
   vertical-align: top;
}
.admintdleft {
   text-align: left;
}
.admintdright {
   text-align: right;
}
.googlebox {
   color: #000;
   background: #fff;
   margin-top: 5px;
   margin-bottom: 5px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #999999;
   width: 150px;
}
.googleboxheader {
   color: #000;
   background: #f1f1f1;
   border-bottom: 1px solid #999999;
   font-size: x-small;
   text-align: left;
}
.googleboxbody {
   color: #000;
   background: #fff;
   font-size: x-small;
;}
.formbutton {
   color: #fff;
   background: #36c;
   font-weight: bold;
}
.headline {
   color: #36c;
   background: transparent;
}
.quicknote {
   color: #603;
   background: transparent;
}
.important {
   color: #f00;
   background: transparent;
}
.popupselected {
   color: #fff;
   background: #006;
}
.searchresultsbox {
   color: #000;
   background: #ffe;
   padding: 0px;
   margin-top: 15px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #fc0; 
}
.searchresultsboxheader {
   color: #000;
   background: #ffc;
   padding: 2px;
   border-spacing: 0px;
   text-align: left;
   font-weight: normal;
}
.searchresultsboxbody {
   color: #000;
   background: #ffe;
   border-top: 1px dotted #fc0; 
   border-bottom: 1px dotted #fc0; 
   padding: 2px;
}
.searchresultsboxrecords {
   color: #000;
   background: transparent;
   margin-left: 20px;
   margin-right: 20px;
}
.nearesttermsbox {
   color: #603;
   background: #ffe;
   padding: 0px;
   border-spacing: 0px;
   border-collapse: collapse;
}
.nearesttermsboxheader {
   color: #603;
   background: #ffc;
   padding: 0px;
   border-spacing: 0px;
   text-align: left;
   font-weight: normal;
}
.nearesttermsboxbody {
   color: #603;
   background: #fff;
   padding: 0px;
}
a.nearestterms:link {
   color: #603;
   background: transparent;
}
a.nearestterms:visited {
   color: #603;
   background: transparent;
}
a.nearestterms:active {
   color: #603;
   background: transparent;
}
a.nearestterms:hover {
   color: #603;
   background: transparent;
}
.nearesttermsboxbodyselected {
   color: #999;
   background: #fff;
   padding: 0px;
}
a.nearesttermsselected:link {
   color: #999;
   background: transparent;
}
a.nearesttermsselected:visited {
   color: #999;
   background: transparent;
}
a.nearesttermsselected:active {
   color: #999;
   background: transparent;
}
a.nearesttermsselected:hover {
   color: #999;
   background: transparent;
}
.moreinfo {
   color: #060;
   background: transparent;
}
.userinfobox {
   color: #039;
   font-size: x-small;
   width: 150px;
   margin-bottom: 15px;
}
.userinfoboxheader {
   color: #039;
   font-size: x-small;
   font-weight: bold;
   border-top: 1px solid #060; 
   border-bottom: 1px solid #060; 
}
.userinfoboxbody {
   color: #039;
   padding-right: 5px;
   padding-bottom: 2px;
   font-size: x-small;
   font-weight: normal;
}
a.userinfo:link {
   color: #039;
   background: transparent;
}
a.userinfo:visited {
   color: #039;
   background: transparent;
}
a.userinfo:active {
   color: #039;
   background: transparent;
}
a.userinfo:hover {
   color: #039;
   background: transparent;
}
.langinfobox {
   color: #039;
   font-size: x-small;
   width: 150px;
   margin-bottom: 15px;
}
.langinfoboxheader {
   color: #039;
   font-size: x-small;
   font-weight: bold;
   border-top: 1px solid #060; 
   border-bottom: 1px solid #060; 
}
.langinfoboxbody {
   color: #039;
   padding-right: 5px;
   padding-bottom: 2px;
   font-size: x-small;
   font-weight: normal;
}
a.langinfo:link {
   color: #039;
   background: transparent;
}
a.langinfo:visited {
   color: #039;
   background: transparent;
}
a.langinfo:active {
   color: #039;
   background: transparent;
}
a.langinfo:hover {
   color: #039;
   background: transparent;
}
.faq {
   margin-left: 12%;
   margin-right: 3%;
}
.faqq {
   margin-left: 18%;
   margin-right: 3%;
}
.exampleleader {
   color: #060;
   background: transparent;
}
.example {
   color: #039;
   background: transparent;
}
.blocknote {
   color: #000;
   background: #ccc;
}
.blocknotebis {
   color: #000;
   background: #999;
}
.devel {
   color: #600;
   background: #fff;
   border-color: #600;
   border-left-width: medium;
   border-left-style: solid;
   font-size: 90%;
}
.normal {
   color: #000;
   background: #fff;
}
.address {
   font-family: "Helvetica", "Arial", sans-serif;
   font-style: normal;
   font-size: x-small;
}
.note {
   color: #999;
   background: transparent;
}
.warning {
   color: #603;
   background: transparent;
}
.light {
   color: #ccc;
   background: transparent;
}
.nbdoccoll {
   color: #999;
   background: transparent;
}
hr {
    width: 100%;
    height: 1px;
    color: #999;
    background-color: #999;
    border-width: 0;    
}
input,select {
    background: #fff;
}
.wsactionbutton {
    width: 150px;
    height: 25px;
    COLOR: #039;
    margin: 0px;
    background-color: #fff;
    border-top: 2px solid #039;
    border-bottom: 2px solid #039;
    border-left: 2px solid #039;
    border-right: 2px solid #039;
    vertical-align: middle;
    horizontal-align: center;
    font-size: small;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.wsactionbuttonh {
    width: 150px;
    height: 25px;
    COLOR: #039;
    margin: 0px;
    background-color: #fff;
    border-top: 3px solid #039;
    border-bottom: 3px solid #039;
    border-left: 3px solid #039;
    border-right: 3px solid #039;
    vertical-align: middle;
    horizontal-align: center;
    font-size: small;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
.textbutton {
    color: #039;
    font-weight: bold;
    text-decoration: none;
}
.submitBody {
   color: #000; 
   background: #9cf; 
} 
.submitHeader {
   color: #fff; 
   background: #006; 
} 

/* end of cds.css */
