
/* CDSware style sheet */
/* $Id$ */
body {
   color: #000;
   background: #fff;
   font-family: helvetica, arial, sans-serif;
}
p,br,dl,strong,em,h1,h2,h3,h4,h5,h6,td,blockquote,ol,ul {
   font-family: helvetica, arial, sans-serif;
}
pre,code {
   font-family: monospace;
}
h1 {
   font-size: 173%;
   font-weight: 700;
   margin-left: 0%;
}
.h1 {
   font-size: 173%;
   font-weight: 700;
   margin-left: 0%;
}
h2 {
   font-size: 144%;
   font-weight: 650;
   margin-left: 0%;
}
h3 {
   font-size: 120%;
   font-weight: 600;
   font-style: italic;
}
h4 {
   font-size: 110%;
   font-weight: 600;
}
h5 {
   font-size: 110%;
   font-weight: 300;
}
h6 {
   font-size: 110%;
   font-weight: 200;
   font-style: italic;
}
a:link {
   color: #00c;
   background: transparent;
}
a:visited {
   color: #006;
   background: transparent;
}
a:active {
   color: #00c;
   background: transparent;
}
a:hover {
   color: #00c;
   background: transparent;
}
a.moreinfo:link {
   color: #060;
   background: transparent;
}
a.moreinfo:visited {
   color: #060;
   background: transparent;
}
a.moreinfo:active {
   color: #060;
   background: transparent;
}
a.moreinfo:hover {
   color: #060;
   background: transparent;
}
a.header:link {
   color: #fff;
   background: transparent;
   text-decoration: none;
}
a.header:visited {
   color: #fff;
   background: transparent;
   text-decoration: none;
}
a.header:active {
   color: #fff;
   background: transparent;
   text-decoration: none;
}
a.header:hover {
   color: #fff;
   background: transparent;
   text-decoration: none;
}
a.img:hover {
   color: #00c;
   background: transparent;
}
a.img:active {
   color: #00c;
   background: transparent;
   font-weight: normal;
}
a.note:link {
   color: #999;
   background: transparent;
}
a.note:visited {
   color: #999;
   background: transparent;
}
a.note:active {
   color: #999;
   background: transparent;
}
a.note:hover {
   color: #999;
   background: transparent;
}
.navtrailbox {
   color: #36c;
   background: transparent;
   padding: 0px;
   border-spacing: 0px;
   border-collapse: collapse;
   font-size: x-small;
}
.navtrailboxbody {
   color: #36c;
   padding: 0px;
   border-spacing: 0px;
   background: transparent;
   font-size: x-small;
}
a.navtrail:link {
   color: #36c;
   background: transparent;
}
a.navtrail:visited {
   color: #36c;
   background: transparent;
}
a.navtrail:active {
   color: #36c;
   background: transparent;
}
a.navtrail:hover {
   color: #36c;
   background: transparent;
}
.info {
   color: #060;
   background: transparent;    
}
.pageheader {
   color: #999;
   background: transparent;
}
.pagebody {
    color: #000;
    background: transparent;
}
.pagestriperight {
   color: #000;
   background: #fff;
   width: 150px;
}
.pagefooter {
   color: #999;
   background: transparent;
   font-size: x-small;
   margin-top: 20px;
}
.footerbox {
   color: #999;
   background: transparent;
   font-size: x-small;
   margin-top: 20px;
   border-top: 1px solid #999;
}
.pagestripemiddle {
   color: #000;
   background: #fff;
}
.pagestriperight {
   color: #000;
   background: #fff;
   font-size: x-small;
   padding-left: 3px;
}
.pageboxlefttop {
   color: #000;
   background: #dee;
}
.pageboxlefttopadd {
   color: #000;
   background: #dee;
}
.pageboxleftbottom {
   color: #000;
   background: #dee;
}
.pageboxleftbottomadd {
   color: #000;
   background: #dee;
}
.pageboxrighttop {
   color: #000;
   background: transparent;
}
.pageboxrighttopadd {
   color: #000;
   background: transparent;
}
.pageboxrightbottom {
   color: #000;
   background: transparent;
}
.pageboxrightbottomadd {
   color: #000;
   background: transparent;
}
.searchbox {
   color: #000;
   background: transparent;
   padding: 1px;
   margin-top: 5px;
   margin-bottom: 5px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #3366cc; 
}
.searchboxheader {
   color: #000;
   background: #f1f1f1;
   padding: 3px;
   border-spacing: 0px;
   /* border-bottom: 1px solid #999999; */
   font-size: small;
   text-align: left;
}
.searchboxbody {
   color: #000;
   background: transparent;
   padding: 3px;
   font-size: normal;
;}
.portalbox {
   color: #000;
   background: transparent;
   margin-bottom: 15px;
   border-spacing: 10px;
   border-collapse: collapse;
   border-top: 1px solid #aabbbb;
   font-size: x-small;
}
.portalboxheader {
   color: #000;
   background: #f1f1f1;
   padding: 2px;
   border-spacing: 0px;
   border-bottom: 1px solid #999999;
   text-align: left;
}
.portalboxbody {
   color: #000;
   background: transparent;
   padding: 2px;
}
.googlebox {
   color: #000;
   background: transparent;
   margin-top: 5px;
   margin-bottom: 5px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #999999;
   width: 150px;
}
.googleboxheader {
   color: #000;
   background: #f1f1f1;
   border-bottom: 1px solid #999999;
   font-size: x-small;
   text-align: left;
}
.googleboxbody {
   color: #000;
   background: transparent;
   font-size: x-small;
;}
.formbutton {
   color: #fff;
   background: #36c;
   font-weight: bold;
}
.headline {
   color: #36c;
   background: transparent;
}
.quicknote {
   color: #603;
   background: transparent;
}
.important {
   color: #f00;
   background: transparent;
}
.popupselected {
   color: #fff;
   background: #006;
}
.searchresultsbox {
   color: #000;
   background: #ffe;
   padding: 0px;
   margin-top: 15px;
   border-spacing: 0px;
   border-collapse: collapse;
   border-top: 1px solid #fc0; 
}
.searchresultsboxheader {
   color: #000;
   background: #ffc;
   padding: 2px;
   border-spacing: 0px;
   text-align: left;
   font-weight: normal;
}
.searchresultsboxbody {
   color: #000;
   background: transparent;
   border-top: 1px dotted #fc0; 
   border-bottom: 1px dotted #fc0; 
   padding: 2px;
}
.moreinfo {
   color: #060;
   background: transparent;
}
.userinfobox {
   color: #060;
   background: transparent;
   font-size: x-small;
   width: 150px;
   margin-bottom: 15px;
}
.userinfoboxheader {
   color: #060;
   background: #dee;
   font-size: x-small;
   font-weight: bold;
   border-top: 1px solid #060; 
   border-bottom: 1px solid #060; 
}
.userinfoboxbody {
   color: #060;
   background: transparent;
   font-size: x-small;
}
a.userinfo:link {
   color: #060;
   background: transparent;
}
a.userinfo:visited {
   color: #060;
   background: transparent;
}
a.userinfo:active {
   color: #060;
   background: transparent;
}
a.userinfo:hover {
   color: #060;
   background: transparent;
}
.header {
   color: #000;
   background: #36c;
}
.headerselected {
   color: #fff;
   background: #36c;
}
.headerselectedmodule {
   color: #000;
   background: #eee;
}
.faq {
   margin-left: 12%;
   margin-right: 3%;
}
.faqq {
   margin-left: 18%;
   margin-right: 3%;
}
.exampleleader {
   color: #060;
   background: transparent;
}
.example {
   color: #039;
   background: transparent;
}
.blocknote {
   color: #000;
   background: #ccc;
}
.blocknotebis {
   color: #000;
   background: #999;
}
.devel {
   color: #600;
   background: #fff;
   border-color: #600;
   border-left-width: medium;
   border-left-style: solid;
   font-size: 90%;
}
.normal {
   color: #000;
   background: #fff;
}
.address {
   font-family: "Helvetica", "Arial", sans-serif;
   font-style: normal;
   font-size: x-small;
}
.note {
   color: #999;
   background: transparent;
}
.warning {
   color: #603;
   background: transparent;
}
.light {
   color: #ccc;
   background: transparent;
}
.nbdoccoll {
   color: #999;
   background: transparent;
}
hr {
    width: 100%;
    height: 1px;
    color: #999;
    background-color: #999;
    border-width: 0;    
}
input,select {
    background: #fff;
}
/* end of cds.css */
