<div class="modal-header">
    <h2 class="modal-title">Are you sure?</h2>
</div>

<div class="modal-body">
  <p>You will lose the suggestions you have made so far, are you sure that you want to discard them?</p>
</div>

<div class="modal-footer">
  <a href="#" class="btn back btn-primary" data-dismiss="modal">No</a><a href="#" class="btn btn-default continue">Yes, discard them</a>
</div>
