<div class="modal-header">
    <h2 class="modal-title">
        This One?
    </h2>
</div>

<div class="modal-body">
	<p>
	Please confirm that you want to suggest this HepName for <strong>{{ cname }}</strong>.<br>
	It will take a few days for INSPIRE to review your suggestion.
	</p>

	<div class="list-group confirmation-preview">
	</div>

</div>

<div class="modal-footer">
	<a href="#" class="btn back btn-primary" data-dismiss="modal">No</a>
	<a href="#" class="btn btn-default confirm">Yes, go ahead</a>
</div>
