<div class="modal-header">
    <h2 class="modal-title">
        Do you want to login?
    </h2>
</div>

<div class="modal-body">
    <p>
        <strong>Login is strongly recommended but not necessary. You can still continue as a guest.</strong><br>
        <br>That means you can manage your profile but your edits will not be visible right away.
        It will take time for your changes to appear as they will be managed manually by one of our administrators.
    </p>
</div>

<div class="modal-footer">

    <div class="list-group text-left" id="login-prompt-buttons">
        <a class="list-group-item list-group-item-danger" href="https://arxiv.org/inspire_login">
            <h4 class="list-group-item-heading">Login via arXiv</h4>
            <p class="list-group-item-text">Your changes will be applied immediately.</p>
        </a>

        <a class="list-group-item guest" href="#">
            <h4 class="list-group-item-heading">Continue as a guest</h4>
            <p class="list-group-item-text">Your changes will be checked by one of our administrators.</p>
        </a>
    </div>

</div>
