<div class="modal-header">
    <h2 class="modal-title">
        Are you sure?
    </h2>
</div>

<div class="modal-body">
    <p>
    You are going to merge multiple profiles together.<br>
    Please confirm that you want to merge those profiles.
    </p>
</div>

<div class="modal-footer">
  <a href="#" class="btn back btn-primary" data-dismiss="modal">Go back</a>
  <a href="#" class="btn btn-default confirm">Yes, merge them</a>
</div>
