<div id="debug-dialog" class="panel panel-default">

    <div class="panel-heading">Operations Debugging Information</div>

    <div class="panel-body"></div>

</div>

<h2>Your Suggested Changes:</h2>

{{{ operations }}}

<div id="ticket-buttons" class="btn-group btn-group-lg">

    <button id="commitButton" class="btn btn-primary" disabled="disabled">Confirm</button>
    <button id="abortButton" class="btn btn-default">Discard All</button>

</div>
