# This file is part of Invenio.
# Copyright (C) 2007, 2008, 2010, 2011 CERN.
#
# Invenio is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

[rank_method]
function = word_similarity_xapian

[word_similarity_xapian]
relevance_number_output_prologue = (
relevance_number_output_epilogue = )

[field_settings]
default_field = fulltext

[field1]
name = abstract
weight = 3

[field2]
name = author
weight = 5

[field3]
name = fulltext
weight = 1
avoid_phrase_search_threshold = 40000

[field4]
name = keyword
weight = 10

[field5]
name = title
weight = 10
