# This file is part of Invenio.
# Copyright (C) 2007, 2008, 2010, 2011 CERN.
#
# Invenio is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# Invenio is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Invenio; if not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

[rank_method]
function = word_similarity_solr

[word_similarity_solr]
relevance_number_output_prologue = (
relevance_number_output_epilogue = )

[field_settings]
default_field = fulltext
cutoff_amount = 10000
cutoff_time_ms = 2000

[field0]
name = global
weight = 1
# No logical field as global aggregates all other Solr fields

[field1]
name = abstract
weight = 3
# logical_fields = field1(,fieldN)*
logical_fields = abstract

[field2]
name = author
weight = 5
logical_fields = author

[field3]
name = fulltext
weight = 1
# No logical field as fulltext is extracted from BibRecDoc

[field4]
name = keyword
weight = 10
logical_fields = keyword

[field5]
name = title
weight = 10
logical_fields = title

[find_similar_to_recid]
# Some Solr results might be restricted, therefore more of them shall be
# received so that there are enough to display
more_results_factor = 5

# maximum amount of the hitset elements that are considered for the results output
hitset_cutoff = 2000

# See parameters: http://wiki.apache.org/solr/MoreLikeThis
# mlt_fl = field1(,fieldN)*
mlt_fl = mlt
mlt_mintf = 0
mlt_mindf = 0
mlt_minwl = 0
mlt_maxwl = 0
mlt_maxqt = 25
mlt_maxntp = 1000
mlt_boost = false
